@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  --day-available: #00FF00; /* Replace with default or fallback colors */
  --day-unavailable: #FF0000;
  --day-onrequest: #FFFF00;
  --day-closed: #aaa;
  --day-booked: #00ff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* styles.css or your stylesheet file */
.cell {
  @apply border-l border-b border-gray-500 p-0 m-0 cursor-pointer;
}

.grabbing, .grabbing * {
  cursor: grabbing !important;
}

.overflow-x-auto * {
  cursor: inherit;
}

.grabbing {
  opacity: 0.5;
}


.highlight {
  background-color: lightblue; /* Style for highlighted cells */
}

.cell.is-departure .cell-marker{
  background-color: var(--day-available);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.cell.is-arrival .cell-marker{
  background-color: var(--day-available);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.cell.cell-marker{
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.cell.is-end .cell-marker{
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.cell.is-selected .cell-marker {
  background-color: blue; /* Style for the selected cell */
}


.cell.is-available .cell-marker {
  background-color: var(--day-available);
  opacity: .1;
}

.cell.is-unavailable .cell-marker {
  background-color: var(--day-unavailable,red);
  z-index: 1;
}

.cell.is-unavailable.is-booked .cell-marker {
  background-color: var(--day-booked);
}


.cell.is-closed .cell-marker{
  background-color: var(--day-closed);
}

.cell.is-onrequest .cell-marker {
  background-color: var(--day-onrequest);
}

.cell.is-arrival .cell-marker,
.cell.is-departure .cell-marker {
  background-color: var(--day-available);
}


/* Add custom CSS for smooth scrolling and touch-friendly scrollbar */
.overflow-x-auto {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

/* Styling for the scrollbar (you can adjust as needed) */
.scrollbar-thin {
  scrollbar-width: auto;
}

.scrollbar-thumb-gray-900 {
  --scrollbar-thumb-bg: #111827; /* Adjust the color as needed */
}

/* Apply the scrollbar styles */
.scrollbar-thin::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
  height: 6px;

}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}